html {
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

.wrapper {
    display: grid;
    grid-template-columns: 560px 680px 250px;
}

.wrapper-usage {
    margin: 0.5em 0;
    text-align: left;
    margin-left: 20px;
}

li {
    margin: 0.5em;
}

code {
    --monospace: "Lucida Console",Consolas,"Courier",monospace;
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
    text-align: left;
    vertical-align: initial;
    font-family: var(--monospace);
    border: 1px solid #e7eaed;
    border-radius: 3px;
    font-size: 0.9em;
    box-sizing: border-box;
}

.keyboard {
    margin-top: 40px;
    font-size: 0.9em;
}

.keyboardRow {
    text-align: center;
}

.key {
    display: inline-grid;
    line-height: 21px;
    border-radius: 5px;
    background-color: #BEC3DD;
    border: 1px solid #BEC3DD;
    height: 43px;
    width: 43px;
    margin-bottom: 5px;
}

.key:hover {
    cursor: pointer;
}

.key-light {
    display: inline-grid;
    line-height: 21px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 43px;
    margin-bottom: 5px;
}

.key-dark {
    display: inline-grid;
    line-height: 21px;
    border-radius: 5px;
    background-color: #9DA5CC;
    border: 1px solid #9DA5CC;
    height: 43px;
    width: 43px;
    margin-bottom: 5px;
}

.key-tab {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 68px;
    margin-bottom: 5px;
}

.key-backspace {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 80px;
    margin-bottom: 5px;
}

.key-slash {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #BEC3DD;
    border: 1px solid #BEC3DD;
    height: 43px;
    width: 55px;
    margin-bottom: 5px;
}

.key-slash:hover {
    cursor: pointer;
}

.key-caps {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 83px;
    margin-bottom: 5px;
}

.key-enter {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 90px;
    margin-bottom: 5px;
}

.key-left-shift {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 105px;
    margin-bottom: 5px;
}

.key-right-shift {
    display: inline-grid;
    line-height: 23px;
    border-radius: 5px;
    background-color: #DFE1EE;
    border: 1px solid #DFE1EE;
    height: 43px;
    width: 115px;
    margin-bottom: 5px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    display: none;
    overflow: hidden;
}